{% extends 'base.html.twig' %}

{% block title %}Modification d'un genre{% endblock %}
{% block pageTitle %}Modification d'un genre{% endblock %}

{% block body %}

<form action="" method="POST">
    <div class="grid grid-cols-2 gap-2">
        <h1>Modifier un genre</h1>
    </div>
    <div class="container">
    {{include ('genre/form.html.twig', {button : 'Modifier'})}}
    </div>
</form>

{% endblock %}
