{% extends 'base.html.twig' %}

{% block title %}Modification d'un film{% endblock %}
{% block pageTitle %}Modification d'un film{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <span class="navbar-brand">Modifier un film</span>
  </div>
</nav>
<div class="container">
    {{form(form)}}

    <div class="nav" style="font-size: 1.2em">
        <a href="{{ url('app_films') }}"
                class="btn btn-dark">
                Retour
        </a>
    </div>
</div>
{% endblock %}