{% extends 'base.html.twig' %}

{% block title %}Ajout d'un acteur{% endblock %}
{% block pageTitle %}Ajout d'un acteur{% endblock %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <span class="navbar-brand">Ajouter un acteur</span>
  </div>
</nav>
<div class="container">
    {{form(form)}}

    <div class="nav" style="font-size: 1.2em">
        <a href="{{ url('app_acteurs') }}"
                class="btn btn-dark">
                Retour
        </a>
    </div>
</div>
{% endblock %}